<div data-controller="tabs select">
  <div class="relative sm:hidden">
    <button
      type="button"
      class="btn relative"
      aria-haspopup="listbox"
      aria-expanded="true"
      aria-labelledby="listbox-label"
      data-select-target="button"
      data-action="click->select#toggle"
    >
      <span
        class="ml-2 block truncate font-medium"
        data-select-target="buttonTitle"
      >
        {{ $.Get (print "tabName" 1) }}
      </span>
      <span
        class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none"
      >
        <!-- Heroicon name: solid/selector -->
        <svg
          class="h-5 w-5 text-gray-400"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
    </button>
    <ul
      class="select-menu hidden absolute z-10 mt-1 w-full max-w-full bg-white shadow-clean-lg max-h-80 rounded-md py-1 text-base ring-1 ring-indigo-900 ring-opacity-5 overflow-auto transition transform focus:outline-none sm:text-sm dark:bg-gray-700 dark:shadow-clean-dark-lg"
      data-select-target="menu"
      tabindex="-1"
      role="listbox"
      aria-labelledby="listbox-label"
      data-transition-enter-active=""
      data-transition-enter-from=""
      data-transition-enter-to=""
      data-transition-leave-active="ease-in duration-100"
      data-transition-leave-from="opacity-100"
      data-transition-leave-to="opacity-0"
    >
      {{ $tabTotal := .Get "tabTotal" }}
      {{ range $i, $sequence := (seq $tabTotal) }}

        {{ $tabID := $.Get (print "tabID" $sequence) }}
        {{ $tabName := (print "tabName" $sequence) }}
        <li
          class="cursor-default select-none relative"
          id="listbox-option-0"
          role="option"
        >
          <a
            href="#{{ $tabID | urlize }}"
            data-action="click->select#select click->tabs#change"
            data-index="{{ sub $sequence 1 }}"
            data-select-title="{{ $.Get $tabName }}"
            class="relative flex justify-end items-center content-center transition py-4 pl-5 pr-7 rounded duration-300 hover:bg-light-note dark:hover:bg-gray-900"
          >
            <span class="flex-grow font-medium inline-block truncate">
              {{ $.Get $tabName }}
            </span>
          </a>
        </li>
      {{ end }}
    </ul>
  </div>

  <div class="border-b border-primary-100 dark:border-gray-700 hidden sm:block">
    <nav class="-mb-px flex space-x-8">
      {{ $tabTotal := .Get "tabTotal" }}
      {{ range $i, $sequence := (seq $tabTotal) }}

        {{ $tabID := $.Get (print "tabID" $sequence) }}
        {{ $tabName := (print "tabName" $sequence) }}

        {{ if eq $sequence 1 }}

          <a
            class="tab active"
            id="{{ $tabID }}"
            data-toggle="tab"
            href="#{{ $tabID | urlize }}"
            role="tab"
            aria-controls="nav-home"
            aria-selected="true"
            data-tabs-target="tab"
            data-action="click->tabs#change"
            >{{ $.Get $tabName }}</a
          >
        {{ else }}
          <a
            class="tab"
            id="{{ $tabID }}"
            data-toggle="tab"
            href="#{{ $tabID | urlize }}"
            role="tab"
            aria-controls="nav-home"
            aria-selected="false"
            data-tabs-target="tab"
            data-action="click->tabs#change"
            >{{ $.Get $tabName }}</a
          >
        {{ end }}
      {{ end }}
    </nav>
  </div>

  <div class="tab-content pt-8" id="{{ $.Get "tabID" }}">
    {{ .Inner }}
  </div>
</div>
