{{ define "main" }}
<div class="flex flex-wrap p-16 mx-auto max-w-7xl h-screen relative px-4 sm:p-24">
    <div class="flex-grow self-center text-center">
        <p
            class="mt-3 mb-3 max-w-md mx-auto text-xs font-subtitle font-semibold uppercase opacity-70 md:mt-5 md:max-w-3xl">
            Python packaging and dependency management made easy
        </p>
        <h1 class="text-5xl tracking-tight font-light sm:text-5xl md:text-5xl">
            <span class="text-blue-500">P</span>oetry
        </h1>
    </div>
    <div class="absolute flex-grow flex items-center justify-between bottom-0 right-0 w-full">
        <div class="mx-auto self-start animate-bounce">
            <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 320 512" class="w-10 h-10">
                <g>
                    <path fill="#299BD7" fill-opacity="40%"
                        d="M160 256.14l-56.51 56.47-96.44-96.15a23.77 23.77 0 0 1-.18-33.61l.18-.18 22.59-22.51a23.94 23.94 0 0 1 33.85 0z">
                    </path>
                    <path fill="#4352B9"
                        d="M313 182.57L290.21 160a23.94 23.94 0 0 0-33.85 0L103.47 312.61 143 352l.06.06a24 24 0 0 0 33.93-.16L313 216.36l.18-.17a23.78 23.78 0 0 0-.18-33.62z">
                    </path>
                </g>
            </svg>
        </div>
    </div>
</div>

<div class="max-w-7xl mx-auto py-16 px-4 text-center md:px-16">
    <p class="mt-3 mb-3 max-w-md mx-auto text-xs font-subtitle font-semibold uppercase opacity-70 md:mt-5 md:max-w-3xl">
        Deterministic builds
    </p>
    <h1 class="text-4xl tracking-tight font-light sm:text-5xl md:text-5xl">
        <span class="text-blue-500">Develop</span>
    </h1>
    <p class="mt-10">Poetry comes with all the tools you might need to manage your projects in a deterministic way.</p>
    <div class="browser-window dark max-w-full my-4">
        <div class="top-bar">
            <div class="circles">
                <div class="circle circle-red"></div>
                <div class="circle circle-yellow"></div>
                <div class="circle circle-green"></div>
            </div>
        </div>
        <div class="window-content highlight text-sm">
            <pre class="language-text no-bg"><code class="language-text"><span class="c">$</span> <span class="k">poetry</span> add pendulum

Using version <span class="text-white font-semibold">^2.0.5</span> for <span class="token number">pendulum</span>

<span class="nv">Updating dependencies</span>
<span class="nv">Resolving dependencies</span>... <span class="c">(1.5s)</span>

<span class="nv">Writing lock file</span>

Package operations: <span class="nv">4</span> installs, <span class="nv">0</span> updates, <span class="nv">0</span> removals

  - Installing <span class="text-cyan-300">six</span> (<span class="text-white font-semibold">1.13.0</span>): <span class="nv">Downloading...</span> <span class="text-white font-semibold">25%</span>
  - Updating <span class="text-cyan-300">pytzdata</span> (<span class="text-white font-semibold">2019.3</span> -> <span class="text-white font-semibold">2020.4</span>): <span class="nv">Installing...</span>
  - Installing <span class="text-cyan-300">pendulum</span> (<span class="text-green-300">2.0.5</span>)
</code></pre>
        </div>
    </div>
</div>
<div class="max-w-7xl mx-auto py-16 px-4 md:grid md:grid-cols-2 md:gap-6 md:px-16">
    <div class="pb-16 text-center md:pb-0">
        <p
            class="mt-3 mb-3 max-w-md mx-auto text-xs font-subtitle font-semibold uppercase opacity-70 md:mt-5 md:max-w-3xl">
            Package with ease
        </p>
        <h1 class="text-4xl tracking-tight font-light sm:text-5xl md:text-5xl">
            <span class="text-blue-500">Build</span>
        </h1>
        <p class="mt-10">

            Easily <strong>build</strong> and <strong>package</strong> your projects with a single command.
        </p>
        <div class="browser-window dark max-w-11/12 my-4">
            <div class="top-bar">
                <div class="circles">
                    <div class="circle circle-red"></div>
                    <div class="circle circle-yellow"></div>
                    <div class="circle circle-green"></div>
                </div>
            </div>
            <div class="window-content highlight text-sm">
                <pre class="language-text"><code class="language-text"><span class="c">$</span> <span class="k">poetry</span> build

Building <span class="text-cyan-300">poetry</span> (<span class="text-white font-semibold">1.0.0</span>)
- Building <span class="nv">sdist</span>
- Built <span class="text-green-300">poetry-1.0.0.tar.gz</span>

- Building <span class="nv">wheel</span>
- Built <span class="text-green-300">poetry-1.0.0-py2.py3-none-any.whl</span></code></pre>
            </div>
        </div>
        <p class="text-sm italic opacity-70">Supports source distribution and wheels.</p>
    </div>

    <div class="text-center">
        <p class=" mt-3 mb-3 max-w-md mx-auto text-xs font-subtitle font-semibold uppercase opacity-70 md:mt-5
        md:max-w-3xl">
            Share your work
        </p>
        <h1 class="text-4xl tracking-tight font-light sm:text-5xl md:text-5xl">
            <span class="text-blue-500">Publish</span>
        </h1>
        <p class="mt-10">
            Make your work known by <strong>publishing</strong> it to PyPI.
        </p>
        <div class="browser-window dark max-w-11/12 my-4">
            <div class="top-bar">
                <div class="circles">
                    <div class="circle circle-red"></div>
                    <div class="circle circle-yellow"></div>
                    <div class="circle circle-green"></div>
                </div>
            </div>
            <div class="window-content highlight text-sm">
                <pre class="language-text"><code class="language-text"><span class="c">$</span> <span class="k">poetry</span> publish

Publishing <span class="text-cyan-300">poetry</span> (<span class="font-semibold text-white">1.0.0</span>) to <span class="nv">PyPI</span>

- Uploading <span class="text-cyan-300">poetry-1.0.0.tar.gz</span> <span class="text-green-300">100%</span>
- Uploading <span class="text-cyan-300">poetry-1.0.0-py2.py3-none-any.whl</span> <span class="font-semibold text-white">58%</span>
                </code>
            </pre>
            </div>
        </div>
        <p class="text-sm italic opacity-70">You can also publish on <strong>private</strong> repositories.</p>
    </div>
</div>

<div class="max-w-7xl mx-auto py-16 px-4 text-center md:px-16">
    <p class="mt-3 mb-3 max-w-md mx-auto text-xs font-subtitle font-semibold uppercase opacity-70 md:mt-5 md:max-w-3xl">
        Check the state of your dependencies
    </p>
    <h1 class="text-4xl tracking-tight font-light sm:text-5xl md:text-5xl">
        <span class="text-blue-500">Track</span>
    </h1>
    <p class="mt-10">Having an insight of your project's dependencies is just one command away.</p>
    <div class="browser-window dark max-w-full my-4">
        <div class="top-bar">
            <div class="circles">
                <div class="circle circle-red"></div>
                <div class="circle circle-yellow"></div>
                <div class="circle circle-green"></div>
            </div>
        </div>
        <div class="window-content highlight">
            <pre class="language-text"><code class="language-text"><span class="c">$</span> <span class="k">poetry</span> show --tree
<span class="text-cyan-300">requests-toolbelt</span> 0.8.0 A utility belt for advanced users...
└── <span class="text-yellow-300">requests</span> <3.0.0,>=2.0.1
    ├── <span class="text-green-300">certifi</span> >=2017.4.17
    ├── <span class="text-green-300">chardet</span> >=3.0.2,<3.1.0
    ├── <span class="text-green-300">idna</span> >=2.5,<2.7
    └── <span class="text-green-300">urllib3</span> <1.23,>=1.21.1

<span class="c">$</span> <span class="k">poetry</span> show --latest
<span class="nv">pendulum</span> <span class="font-semibold text-white">2.0.4</span>   <span class="text-red-400">1.4.5</span> Python datetimes made easy.
<span class="nv">django</span>   <span class="font-semibold text-white">1.11.11</span> <span class="text-yellow-400">2.0.3</span> A high-level Python Web framework ...
<span class="nv">requests</span> <span class="font-semibold text-white">2.18.4</span>  <span class="text-green-300">2.18.4</span> Python HTTP for Humans.
</code></pre>
        </div>
    </div>
</div>

<div class="max-w-7xl mx-auto p-16 pb-32 md:grid md:grid-cols-3 md:gap-6">
    <div class="pb-16 text-center md:pb-0">
        <i class="fad fa-code-merge fa-3x"></i>
        <h6 class="mt-8 text-sm font-subtitle font-semibold tracking-wide uppercase">Dependency resolver
        </h6>
        <p class="mt-10">
            Poetry comes with an <strong>exhaustive</strong> dependency resolver, which will always find a
            <strong>solution</strong> if
            it exists.
        </p>
        <p class="mt-6 text-sm italic opacity-60">And get a <strong>detailed</strong> explanation if no solution exists.
        </p>
    </div>

    <div class="pb-16 text-center md:pb-0">
        <i class="fad fa-dot-circle fa-3x"></i>
        <h6 class="mt-8 text-sm font-subtitle font-semibold tracking-wide uppercase">Isolation
        </h6>
        <p class="mt-10">
            Poetry either uses your configured virtualenvs or creates its own to always be <strong>isolated</strong>
            from your system.
        </p>
        <p class="mt-6 text-sm italic opacity-60">The behavior is <strong>configurable</strong>.</p>
    </div>

    <div class="pb-16 text-center md:pb-0">
        <i class="fad fa-terminal fa-3x"></i>
        <h6 class="mt-8 text-sm font-subtitle font-semibold tracking-wide uppercase">Intuitive CLI
        </h6>
        <p class="mt-10">
            Poetry's commands are <strong>intuitive</strong> and easy to use, with sensible defaults while still being
            configurable.
        </p>
        <p class="mt-6 text-sm italic opacity-60">It's also <strong>extensible</strong> with plugin system.</p>
    </div>
</div>
{{ end }}
