{{ define "main" }}
<div class="relative">
    <div id="title-section" class="absolute top-0 left-0 h-screen w-full bg-light-primary dark:bg-gray-800"></div>
    <div class="flex flex-wrap p-16 mx-auto max-w-7xl h-screen relative px-4 sm:p-24">
        <div class="flex-grow self-center text-center">
            <p
                class="mt-3 mb-3 max-w-md mx-auto text-sm font-medium tracking-wide uppercase opacity-70 md:mt-5 md:max-w-3xl">
                Python packaging and dependency management made easy
            </p>
            <h1 class="text-5xl tracking-tight font-light sm:text-5xl md:text-5xl">
                <span class="text-blue-500 dark:text-blue-400">P</span>oetry
            </h1>
        </div>
        <div class="absolute flex-grow flex items-center justify-between bottom-0 right-0 w-full">
            <div class="mx-auto self-start animate-bounce">
                <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 320 512" class="w-10 h-10">
                    <g>
                        <path fill="#38BDF8" fill-opacity="40%"
                            d="M160 256.14l-56.51 56.47-96.44-96.15a23.77 23.77 0 0 1-.18-33.61l.18-.18 22.59-22.51a23.94 23.94 0 0 1 33.85 0z">
                        </path>
                        <path fill="currentColor"
                            d="M313 182.57L290.21 160a23.94 23.94 0 0 0-33.85 0L103.47 312.61 143 352l.06.06a24 24 0 0 0 33.93-.16L313 216.36l.18-.17a23.78 23.78 0 0 0-.18-33.62z">
                        </path>
                    </g>
                </svg>
            </div>
        </div>
    </div>
</div>

<div class="max-w-7xl mx-auto py-16 px-4 text-center md:px-16">
    <p class="mt-3 mb-3 max-w-md mx-auto text-sm font-medium tracking-wide uppercase opacity-70 md:mt-5 md:max-w-3xl">
        Deterministic builds
    </p>
    <h1 class="text-4xl tracking-tight font-light sm:text-5xl md:text-5xl">
        <span class="text-blue-500 dark:text-blue-400">Develop</span>
    </h1>
    <p class="mt-10">Poetry comes with all the tools you might need to manage your projects in a deterministic way.</p>
    <div class="browser-window dark max-w-full mt-8 mb-4">
        <div class="top-bar">
            <div class="circles">
                <div class="circle circle-red"></div>
                <div class="circle circle-yellow"></div>
                <div class="circle circle-green"></div>
            </div>
        </div>
        <div class="window-content highlight text-sm">
            <pre class="language-text no-bg"><code class="language-text"><span class="c">$</span> <span class="k">poetry</span> add pendulum

Using version <span class="text-white font-semibold">^2.0.5</span> for <span class="token number">pendulum</span>

<span class="nv">Updating dependencies</span>
<span class="nv">Resolving dependencies</span>... <span class="c">(1.5s)</span>

<span class="nv">Writing lock file</span>

Package operations: <span class="nv">4</span> installs, <span class="nv">0</span> updates, <span class="nv">0</span> removals

  - Installing <span class="text-cyan-300">six</span> (<span class="text-white font-semibold">1.13.0</span>): <span class="nv">Downloading...</span> <span class="text-white font-semibold">25%</span>
  - Updating <span class="text-cyan-300">pytzdata</span> (<span class="text-white font-semibold">2019.3</span> -> <span class="text-white font-semibold">2020.4</span>): <span class="nv">Installing...</span>
  - Installing <span class="text-cyan-300">pendulum</span> (<span class="text-green-300">2.0.5</span>)
</code></pre>
        </div>
    </div>
</div>
<div class="max-w-7xl mx-auto py-16 px-4 md:grid md:grid-cols-2 md:gap-6 md:px-16">
    <div class="pb-16 text-center md:pb-0">
        <p
            class="mt-3 mb-3 max-w-md mx-auto text-sm font-medium tracking-wide uppercase opacity-70 md:mt-5 md:max-w-3xl">
            Package with ease
        </p>
        <h1 class="text-4xl tracking-tight font-light sm:text-5xl md:text-5xl">
            <span class="text-blue-500 dark:text-blue-400">Build</span>
        </h1>
        <p class="mt-10">
            Easily <strong>build</strong> and <strong>package</strong> your projects with a single command.
        </p>
        <div class="browser-window dark max-w-11/12 mt-8 mb-4">
            <div class="top-bar">
                <div class="circles">
                    <div class="circle circle-red"></div>
                    <div class="circle circle-yellow"></div>
                    <div class="circle circle-green"></div>
                </div>
            </div>
            <div class="window-content highlight text-sm">
                <pre class="language-text"><code class="language-text"><span class="c">$</span> <span class="k">poetry</span> build

Building <span class="text-cyan-300">poetry</span> (<span class="text-white font-semibold">1.0.0</span>)
- Building <span class="nv">sdist</span>
- Built <span class="text-green-300">poetry-1.0.0.tar.gz</span>

- Building <span class="nv">wheel</span>
- Built <span class="text-green-300">poetry-1.0.0-py2.py3-none-any.whl</span></code></pre>
            </div>
        </div>
        <p class="text-sm italic opacity-70">Supports source distribution and wheels.</p>
    </div>

    <div class="text-center">
        <p class=" mt-3 mb-3 max-w-md mx-auto text-sm font-medium tracking-wide uppercase opacity-70 md:mt-5
        md:max-w-3xl">
            Share your work
        </p>
        <h1 class="text-4xl tracking-tight font-light sm:text-5xl md:text-5xl">
            <span class="text-blue-500 dark:text-blue-400">Publish</span>
        </h1>
        <p class="mt-10">
            Make your work known by <strong>publishing</strong> it to PyPI.
        </p>
        <div class="browser-window dark max-w-11/12 mt-8 mb-4">
            <div class="top-bar">
                <div class="circles">
                    <div class="circle circle-red"></div>
                    <div class="circle circle-yellow"></div>
                    <div class="circle circle-green"></div>
                </div>
            </div>
            <div class="window-content highlight text-sm">
                <pre class="language-text"><code class="language-text"><span class="c">$</span> <span class="k">poetry</span> publish

Publishing <span class="text-cyan-300">poetry</span> (<span class="font-semibold text-white">1.0.0</span>) to <span class="nv">PyPI</span>

- Uploading <span class="text-cyan-300">poetry-1.0.0.tar.gz</span> <span class="text-green-300">100%</span>
- Uploading <span class="text-cyan-300">poetry-1.0.0-py2.py3-none-any.whl</span> <span class="font-semibold text-white">58%</span>
                </code>
            </pre>
            </div>
        </div>
        <p class="text-sm italic opacity-70">You can also publish on <strong>private</strong> repositories.</p>
    </div>
</div>

<div class="max-w-7xl mx-auto py-16 px-4 text-center md:px-16">
    <p class="mt-3 mb-3 max-w-md mx-auto text-sm font-medium uppercase opacity-70 md:mt-5 md:max-w-3xl">
        Check the state of your dependencies
    </p>
    <h1 class="text-4xl tracking-tight font-light sm:text-5xl md:text-5xl">
        <span class="text-blue-500 dark:text-blue-400">Track</span>
    </h1>
    <p class="mt-10">Having an insight of your project's dependencies is just one command away.</p>
    <div class="browser-window dark max-w-full mt-8 mb-4">
        <div class="top-bar">
            <div class="circles">
                <div class="circle circle-red"></div>
                <div class="circle circle-yellow"></div>
                <div class="circle circle-green"></div>
            </div>
        </div>
        <div class="window-content highlight">
            <pre class="language-text"><code class="language-text"><span class="c">$</span> <span class="k">poetry</span> show --tree
<span class="text-cyan-300">requests-toolbelt</span> 0.8.0 A utility belt for advanced users...
└── <span class="text-yellow-300">requests</span> <3.0.0,>=2.0.1
    ├── <span class="text-green-300">certifi</span> >=2017.4.17
    ├── <span class="text-green-300">chardet</span> >=3.0.2,<3.1.0
    ├── <span class="text-green-300">idna</span> >=2.5,<2.7
    └── <span class="text-green-300">urllib3</span> <1.23,>=1.21.1

<span class="c">$</span> <span class="k">poetry</span> show --latest
<span class="nv">pendulum</span> <span class="font-semibold text-white">2.0.4</span>   <span class="text-red-400">1.4.5</span> Python datetimes made easy.
<span class="nv">django</span>   <span class="font-semibold text-white">1.11.11</span> <span class="text-yellow-400">2.0.3</span> A high-level Python Web framework ...
<span class="nv">requests</span> <span class="font-semibold text-white">2.18.4</span>  <span class="text-green-300">2.18.4</span> Python HTTP for Humans.
</code></pre>
        </div>
    </div>
</div>

<div class="max-w-7xl mx-auto p-16 pb-32 md:grid md:grid-cols-3 md:gap-6">
    <div class="pb-16 text-center md:pb-0">
        <svg class="w-10 h-10 mx-auto" aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <g>
                <path fill="#38BDF8" fill-opacity="40%" d="M227.06 293.9A199.9 199.9 0 0 1 104 225.83v129.84a80.31 80.31 0 0 0-48 0V156.33a80.24 80.24 0 0 0 58.73-4.24 152.51 152.51 0 0 0 113.78 93.41 80 80 0 0 0-1.45 48.4z"></path>
                <path fill="currentColor" d="M80 0a80 80 0 1 0 80 80A80 80 0 0 0 80 0zm0 96a16 16 0 1 1 16-16 16 16 0 0 1-16 16zm0 256a80 80 0 1 0 80 80 80 80 0 0 0-80-80zm0 96a16 16 0 1 1 16-16 16 16 0 0 1-16 16zm224-256a80 80 0 1 0 80 80 80 80 0 0 0-80-80zm0 96a16 16 0 1 1 16-16 16 16 0 0 1-16 16z"></path>
            </g>
        </svg>
        <h6 class="mt-8 text-sm font-semibold tracking-wide uppercase">Dependency resolver</h6>
        <p class="mt-10">
            Poetry comes with an <strong>exhaustive</strong> dependency resolver, which will always find a
            <strong>solution</strong> if
            it exists.
        </p>
        <p class="mt-6 text-sm italic opacity-60">And get a <strong>detailed</strong> explanation if no solution exists.
        </p>
    </div>

    <div class="pb-16 text-center md:pb-0">
        <svg class="w-10 h-10 mx-auto" aria-hidden="true" focusable="false" data-icon="dot-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <g>
                <path fill="#38BDF8" fill-opacity="40%" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm124.45 372.45A176 176 0 1 1 432 256a174.85 174.85 0 0 1-51.55 124.45z"></path>
                <path fill="currentColor" d="M256 336a80 80 0 1 1 80-80 80.09 80.09 0 0 1-80 80z"></path>
            </g>
        </svg>
        <h6 class="mt-8 text-sm font-semibold tracking-wide uppercase">Isolation</h6>
        <p class="mt-10">
            Poetry either uses your configured virtualenvs or creates its own to always be <strong>isolated</strong>
            from your system.
        </p>
        <p class="mt-6 text-sm italic opacity-60">The behavior is <strong>configurable</strong>.</p>
    </div>

    <div class="pb-16 text-center md:pb-0">
        <svg class="w-10 h-10 mx-auto" aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
            <g>
                <path fill="#38BDF8" fill-opacity="40%" d="M640 421.34v32a24 24 0 0 1-24 24H312a24 24 0 0 1-24-24v-32a24 24 0 0 1 24-24h304a24 24 0 0 1 24 24z"></path>
                <path fill="currentColor" d="M29.7 464.66L7 442a24 24 0 0 1 0-33.9l154-154.76L7 98.6a24 24 0 0 1 0-33.9L29.7 42a24 24 0 0 1 33.94 0L258 236.37a24 24 0 0 1 0 33.94L63.64 464.66a24 24 0 0 1-33.94 0z"></path>
            </g>
        </svg>
        <h6 class="mt-8 text-sm font-semibold tracking-wide uppercase">Intuitive CLI
        </h6>
        <p class="mt-10">
            Poetry's commands are <strong>intuitive</strong> and easy to use, with sensible defaults while still being
            configurable.
        </p>
        <p class="mt-6 text-sm italic opacity-60">It's also <strong>extensible</strong> with plugin system.</p>
    </div>
</div>
{{ end }}
