.clipboard-button {
  position: absolute;
  right: 0;
  padding: 2px 7px 5px 7px;
  margin: 5px;
  color: rgb(14 165 233 / var(--tw-border-opacity));
  --tw-border-opacity: 0.4;
  background-color: rgb(186 230 253 / 0.5);
  --tw-bg-opacity: 0.1;
  border: 1px solid rgb(14 165 233 / var(--tw-border-opacity));
  border-radius: 6px;
  font-size: 0.8em;
  z-index: 10;
  opacity: 0.5;
  transition: 0.1s;
}
.clipboard-button > svg {
  fill: rgb(208 212 252 / var(--tw-text-opacity));
}
.clipboard-button:hover {
  cursor: pointer;
  border-color: #696969;
  background-color: #e0e0e0;
}
.clipboard-button:hover > svg {
  fill: #696969;
}
.clipboard-button:focus {
  outline: 0;
}
.highlight {
  position: relative;
}
.highlight:hover > .clipboard-button {
  opacity: 1;
  transition: 0.2s;
}
