.aa-Autocomplete {
  @apply flex items-center w-full;
}

.aa-Autocomplete .aa-DetachedSearchButton {
  @apply flex items-center justify-start w-full text-sm p-2 rounded-md border border-secondary-200 bg-secondary-50 bg-opacity-50;
}

.aa-Autocomplete .aa-DetachedSearchButton:active {
  @apply ring-indigo-500 border-indigo-500;
}

.aa-Autocomplete .aa-DetachedSearchButton:focus {
  @apply outline-none;
}

.aa-Autocomplete .aa-DetachedSearchButton .aa-DetachedSearchButtonIcon {
  @apply mr-2 w-4 h-4 inline-block;
  background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23818CF8" d="M508.5 481.6l-129-129c-2.3-2.3-5.3-3.5-8.5-3.5h-10.3C395 312 416 262.5 416 208 416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c54.5 0 104-21 141.1-55.2V371c0 3.2 1.3 6.2 3.5 8.5l129 129c4.7 4.7 12.3 4.7 17 0l9.9-9.9c4.7-4.7 4.7-12.3 0-17zM208 384c-97.3 0-176-78.7-176-176S110.7 32 208 32s176 78.7 176 176-78.7 176-176 176z"></path></svg>');
}

.aa-Autocomplete .aa-DetachedSearchButton .aa-DetachedSearchButtonIcon svg {
  @apply hidden;
}

.aa-Autocomplete .aa-DetachedSearchButton .aa-DetachedSearchButtonPlaceholder {
}

.aa-DetachedOverlay {
  @apply fixed w-screen h-screen top-0 left-0 p-4 flex flex-col bg-gray-900 bg-opacity-25 backdrop-filter backdrop-blur-sm z-100 transition transition-all transform;
}

.aa-DetachedOverlay .aa-DetachedContainer {
  @apply flex flex-col w-full max-w-3xl min-h-0 my-0 px-8 py-4 mx-auto shadow-xl bg-light-note rounded-md;
}

.aa-DetachedOverlay .aa-DetachedContainer .aa-DetachedFormContainer {
  @apply relative flex items-center;
}

.aa-DetachedOverlay .aa-Form {
  @apply flex flex-auto items-center;
}

.aa-DetachedOverlay .aa-Form .aa-InputWrapperPrefix {
  @apply flex items-center;
}

.aa-DetachedOverlay .aa-Form .aa-InputWrapperPrefix .aa-LoadingIndicator {
  @apply hidden;
}

.aa-DetachedOverlay .aa-Form .aa-InputWrapper {
  @apply flex flex-grow items-center;
}

.aa-DetachedOverlay .aa-Form .aa-InputWrapper input {
  @apply h-16 mx-4 w-full text-xl appearance-none outline-none bg-transparent;
}

.aa-DetachedOverlay .aa-Form .aa-InputWrapperSuffix {
  @apply hidden;
}

.aa-DetachedOverlay .aa-Form .aa-Label {
  @apply flex-none inline-block w-6 h-6;
  background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23818CF8" d="M508.5 481.6l-129-129c-2.3-2.3-5.3-3.5-8.5-3.5h-10.3C395 312 416 262.5 416 208 416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c54.5 0 104-21 141.1-55.2V371c0 3.2 1.3 6.2 3.5 8.5l129 129c4.7 4.7 12.3 4.7 17 0l9.9-9.9c4.7-4.7 4.7-12.3 0-17zM208 384c-97.3 0-176-78.7-176-176S110.7 32 208 32s176 78.7 176 176-78.7 176-176 176z"></path></svg>');
}

.aa-DetachedOverlay .aa-Form .aa-Label button {
  @apply hidden;
}

.aa-DetachedOverlay
  .aa-DetachedContainer
  .aa-DetachedFormContainer
  .aa-DetachedCancelButton {
  @apply flex-none text-indigo-400;
  font-size: 0px;
}

.aa-DetachedOverlay
  .aa-DetachedContainer
  .aa-DetachedFormContainer
  .aa-DetachedCancelButton:before {
  @apply border border-indigo-300 bg-indigo-50 rounded-md text-sm leading-5 px-1.5 py-1;
  content: "esc";
}

.aa-DetachedOverlay .aa-Panel {
  @apply relative overflow-y-scroll;
}

.aa-DetachedOverlay .aa-Panel .search-result {
  @apply p-4 rounded-md bg-gray-100 bg-opacity-50 transition duration-300 mb-4;
}

.aa-DetachedOverlay .aa-Panel .search-result .snippet {
  @apply whitespace-nowrap overflow-x-hidden text-ellipsis;
}

.aa-DetachedOverlay .aa-Panel .search-result:hover {
  @apply bg-secondary-100;
}

.aa-DetachedOverlay .aa-Panel .search-result h4 {
  @apply inline-flex items-center rounded-full bg-secondary-100/50 px-2 py-1 text-xs font-medium text-secondary-600 ring-1 ring-inset ring-secondary-500/10 transition duration-300;
}

.aa-DetachedOverlay .aa-Panel .search-result:hover h4 {
  @apply bg-secondary-200/50;
}

.aa-DetachedOverlay .aa-Panel p.snippet {
  @apply text-base mt-4;
}

.aa-DetachedOverlay .aa-Panel p em.highlight {
  @apply text-blue-600 font-medium not-italic rounded;
}

.aa-DetachedOverlay .aa-Panel .aa-SourceFooter .logo-light {
  @apply inline-block;
}

.aa-DetachedOverlay .aa-Panel .aa-SourceFooter .logo-dark {
  @apply hidden;
}

@screen md {
  .aa-DetachedOverlay {
    padding: 14vh;
  }
}

html.dark .aa-Autocomplete .aa-DetachedSearchButton {
  @apply bg-gray-900 bg-opacity-40 border border-gray-900;
}

html.dark
  .aa-Autocomplete
  .aa-DetachedSearchButton
  .aa-DetachedSearchButtonIcon {
  background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%237DD3FC" d="M508.5 481.6l-129-129c-2.3-2.3-5.3-3.5-8.5-3.5h-10.3C395 312 416 262.5 416 208 416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c54.5 0 104-21 141.1-55.2V371c0 3.2 1.3 6.2 3.5 8.5l129 129c4.7 4.7 12.3 4.7 17 0l9.9-9.9c4.7-4.7 4.7-12.3 0-17zM208 384c-97.3 0-176-78.7-176-176S110.7 32 208 32s176 78.7 176 176-78.7 176-176 176z"></path></svg>');
}

html.dark .aa-DetachedOverlay {
  @apply bg-opacity-50;
}

html.dark .aa-DetachedOverlay .aa-DetachedContainer {
  @apply bg-gray-700;
}

html.dark .aa-DetachedOverlay .aa-Form .aa-Label {
  @apply flex-none inline-block w-6 h-6;
  background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%237DD3FC" d="M508.5 481.6l-129-129c-2.3-2.3-5.3-3.5-8.5-3.5h-10.3C395 312 416 262.5 416 208 416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c54.5 0 104-21 141.1-55.2V371c0 3.2 1.3 6.2 3.5 8.5l129 129c4.7 4.7 12.3 4.7 17 0l9.9-9.9c4.7-4.7 4.7-12.3 0-17zM208 384c-97.3 0-176-78.7-176-176S110.7 32 208 32s176 78.7 176 176-78.7 176-176 176z"></path></svg>');
}

html.dark
  .aa-DetachedOverlay
  .aa-DetachedContainer
  .aa-DetachedFormContainer
  .aa-DetachedCancelButton {
  @apply flex-none text-blue-400;
  font-size: 0;
}

html.dark
  .aa-DetachedOverlay
  .aa-DetachedContainer
  .aa-DetachedFormContainer
  .aa-DetachedCancelButton:before {
  @apply border-blue-300 bg-transparent;
}

html.dark .aa-DetachedOverlay .aa-Panel .search-result {
  @apply bg-gray-900 bg-opacity-10;
}

html.dark .aa-DetachedOverlay .aa-Panel .search-result:hover {
  @apply bg-opacity-25;
}

html.dark .aa-DetachedOverlay .aa-Panel .search-result h4 {
  @apply bg-blue-950/50 text-blue-300 ring-blue-200/10;
}

html.dark .aa-DetachedOverlay .aa-Panel .search-result:hover h4 {
  @apply bg-blue-950/80;
}

html.dark .aa-DetachedOverlay .aa-Panel p em.highlight {
  @apply text-blue-300;
}

html.dark .aa-DetachedOverlay .aa-Panel .aa-SourceFooter .logo-light {
  @apply hidden;
}

html.dark .aa-DetachedOverlay .aa-Panel .aa-SourceFooter .logo-dark {
  @apply inline-block;
}
