#content main h1 {
    @apply relative text-5xl font-light;
}

#content main h1:not(.with-meta) {
    @apply mb-12;
}

/* Special for link h1 */

#content main a>h1, #content main a:visited>h1, #content main a:focus>h1, #content main a:active>h1 {
    @apply text-primary;
}

#content main h2 {
    @apply relative text-4xl font-light mt-16 mb-12;
}

#content main h3 {
    @apply relative text-3xl font-light mt-16 mb-12;
}

#content main h4 {
    @apply relative text-2xl font-light mt-12 mb-8;
}

#content main h5 {
    @apply relative text-xl font-light mt-12 mb-8;
}

#content main a, #content main a:visited {
    @apply text-link font-medium transition-colors duration-300;
}

#content main a:hover, #content main a:focus {
    @apply text-link-hover font-medium;
}

#content main a>code {
    @apply transition-colors duration-300;
}

#content main a:hover>code {
    @apply text-link-hover;
}

#content main a>code:after {
    @apply relative inline-block w-3 h-3 ml-2 top-0.5 text-primary fill-current opacity-60 transition duration-300;
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23093D8D" d="M67.508 468.467c-58.005-58.013-58.016-151.92 0-209.943l225.011-225.04c44.643-44.645 117.279-44.645 161.92 0 44.743 44.749 44.753 117.186 0 161.944l-189.465 189.49c-31.41 31.413-82.518 31.412-113.926.001-31.479-31.482-31.49-82.453 0-113.944L311.51 110.491c4.687-4.687 12.286-4.687 16.972 0l16.967 16.971c4.685 4.686 4.685 12.283 0 16.969L184.983 304.917c-12.724 12.724-12.73 33.328 0 46.058 12.696 12.697 33.356 12.699 46.054-.001l189.465-189.489c25.987-25.989 25.994-68.06.001-94.056-25.931-25.934-68.119-25.932-94.049 0l-225.01 225.039c-39.249 39.252-39.258 102.795-.001 142.057 39.285 39.29 102.885 39.287 142.162-.028A739446.174 739446.174 0 0 1 439.497 238.49c4.686-4.687 12.282-4.684 16.969.004l16.967 16.971c4.685 4.686 4.689 12.279.004 16.965a755654.128 755654.128 0 0 0-195.881 195.996c-58.034 58.092-152.004 58.093-210.048.041z"></path></svg>')
}

#content main a:hover>code:after {
    @apply opacity-80;
}

#content main code {
    @apply text-code font-mono;
}

#content main p {
    @apply mb-4 leading-7;
}

#content main p code {
    @apply text-xs text-code font-mono font-semibold bg-indigo-50 border border-dashed border-indigo-200 rounded p-1;
}

#content main ul {
    @apply list-inside my-8 pl-8;
}

#content main ol {
    @apply list-inside my-8 pl-8;
    counter-reset: count;
}

#content main ul li, #content main ol li {
    @apply relative leading-7;
}

#content main ol li {
    counter-increment: count;
}

#content main ul li:before {
    @apply absolute w-1.5 h-1.5 -left-4 bg-blue-500 rounded-full;
    top: 0.675rem;
    content: " ";
}

#content main ol li:before {
    @apply absolute w-1.5 h-1.5 -left-5 text-blue-500 font-medium;
    content: counter(count) ". ";
}

#content main ul li ul, #content main ul li ol #content main ol li ul, #content main ol li ol {
    @apply mt-0 mb-4;
}

#content main li code {
    @apply text-xs text-code font-mono font-semibold bg-indigo-50 border border-dashed border-indigo-200 rounded p-1;
}

/* Summary */

#content main:not(#docs) h1~p:first-of-type, #content main div.summary p {
    @apply font-medium;
}

#content main:not(#docs) h1~p:first-of-type strong, #content main div.summary p strong {
    @apply font-semibold;
}

/* Tables */

#content main table {
    @apply min-w-full my-8 rounded-lg shadow-sm divide-y border-separate;
    border-spacing: 0;
}

#content main table thead {
    @apply bg-gray-50;
}

#content main table thead th {
    @apply px-8 py-6 border-b border-indigo-100 text-left text-xs font-medium uppercase tracking-wider;
}

#content main table tbody {
    @apply bg-light-note divide-y divide-blue-100;
}

#content main table tbody td {
    @apply px-8 py-6 text-sm border-b border-indigo-50;
}

#content main table tbody tr:last-child td {
    @apply border-0;
}

#content main table tbody tr:last-child td:first-child {
    @apply border-b border-transparent rounded-bl-md;
}

#content main table td code {
    @apply text-xs p-1 leading-7 shadow-none bg-indigo-50 font-semibold border border-dashed border-indigo-200 rounded;
}

/* Highlight */

#content main .highlight {
    @apply w-full rounded overflow-hidden text-sm mx-auto my-12;
}

/* Admonitions */

#content main .admonition {
    @apply relative w-full mx-auto my-8 leading-7 bg-light-note rounded p-7 shadow-sm;
}

#content main .admonition:before, #content main .admonition:after {
    @apply hidden absolute w-8 h-8;
    top: 50%;
    transform: translateY(-50%);
    left: -3.5rem;
}

#content main .admonition .title {
    @apply hidden;
}

#content main .admonition.note {
    border: 1px dashed #4352B960;
}

#content main .admonition.note:before {
    color: #4352B9;
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><g><path fill="%234352B9" fill-opacity="40%" d="M512 256a88 88 0 0 0-57.1-82.4A88 88 0 0 0 338.4 57.1a88 88 0 0 0-164.8 0A88 88 0 0 0 57.1 173.6a88 88 0 0 0 0 164.8 88 88 0 0 0 116.5 116.5 88 88 0 0 0 164.8 0 88 88 0 0 0 116.5-116.5A88 88 0 0 0 512 256zm-144.8-44.25l-131 130a11 11 0 0 1-15.55-.06l-75.72-76.33a11 11 0 0 1 .06-15.56L171 224a11 11 0 0 1 15.56.06l42.15 42.49 97.2-96.42a11 11 0 0 1 15.55.06l25.82 26a11 11 0 0 1-.08 15.56z"></path><path fill="%234352B9" d="M367.2 211.75l-131 130a11 11 0 0 1-15.55-.06l-75.72-76.33a11 11 0 0 1 .06-15.56L171 224a11 11 0 0 1 15.56.06l42.15 42.49 97.2-96.42a11 11 0 0 1 15.55.06l25.82 26a11 11 0 0 1-.06 15.56z"></path></g></svg>');
}

#content main .admonition.warning {
    @apply bg-red-50 bg-opacity-30;
    color: #D70B1F;
    border: 1px dashed #F74B5F80;
}

#content main .admonition.warning:before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><g><path fill="%23F74B5F" fill-opacity="40%" d="M406.78 361.53a186.53 186.53 0 0 1-45.25 45.25L105.22 150.47a186.53 186.53 0 0 1 45.25-45.25z"></path><path fill="%23F74B5F" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm130.11 378.11A184 184 0 1 1 440 256a182.82 182.82 0 0 1-53.89 130.11z"></path></g></svg>');
}

#content main .admonition .highlight {
    @apply w-full;
}

#content main .admonition p:last-child, #content main .admonition .highlight:last-child {
    @apply mb-0;
}

#content main .admonition .content>code, #content main .admonition .content p>code {
    @apply text-xs p-1 shadow-none bg-indigo-50 font-semibold border border-dashed border-indigo-200 rounded;
}

/* Heading Permanent links */

#content main .header-link {
    @apply hidden;
}

/* Tags */
#content main .tags a {
    @apply border-0;
}

@screen md {
    #content main .highlight {
        @apply w-5/6;
    }
    #content main .admonition {
        @apply w-5/6 mx-auto;
    }

    #content main .admonition:before, #content main .admonition:after {
        @apply inline-block;
    }

    #content main .admonition .highlight {
        @apply w-11/12;
    }

    /* Heading Permanent links */
    #content main .header-link {
        @apply inline-block invisible absolute left-0 w-full h-full text-2xl;
    }
    #content main h1:hover>.header-link:before, #content main h2:hover>.header-link:before, #content main h3:hover>.header-link:before, #content main h4:hover>.header-link:before, #content main h5:hover>.header-link:before, #content main h6:hover>.header-link:before {
        @apply opacity-50;
    }
    #content main .header-link:before {
        @apply absolute -left-12 w-5 h-6 visible text-right z-10 transition duration-500 opacity-0;
        top: 50%;
        transform: translateY(-50%);
    }
    #content main .header-link:before {
        content: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><g><path fill="%23299BD7" fill-opacity="40%" d="M202.46 32.19a11.5 11.5 0 0 0-2.11-.19h-40.63a12 12 0 0 0-11.81 9.89L132.53 128h65l14.62-81.89a12 12 0 0 0-9.69-13.92zM72.19 465.89a12 12 0 0 0 9.7 13.92A11.5 11.5 0 0 0 84 480h40.64a12 12 0 0 0 11.81-9.89L186.11 192h-65zm163.65 0a12 12 0 0 0 9.7 13.92 11.5 11.5 0 0 0 2.11.19h40.63a12 12 0 0 0 11.82-9.89L315.47 384h-65zm130.27-433.7A11.5 11.5 0 0 0 364 32h-40.63a12 12 0 0 0-11.82 9.89L261.89 320h65l48.92-273.89a12 12 0 0 0-9.7-13.92z"></path><path fill="%234352B9" d="M44.18 191.81a11.5 11.5 0 0 0 2.11.19H285l11-64H53.43a12 12 0 0 0-11.81 9.89l-7.14 40a12 12 0 0 0 9.7 13.92zM7.33 329.89l-7.14 40a12 12 0 0 0 9.7 13.92A11.5 11.5 0 0 0 12 384h75l11-64H19.15a12 12 0 0 0-11.82 9.89zm430.78-201.7A11.5 11.5 0 0 0 436 128h-75l-11 64h78.85a12 12 0 0 0 11.82-9.89l7.14-40a12 12 0 0 0-9.7-13.92zm-34.29 192a11.5 11.5 0 0 0-2.11-.19H163l-11 64h242.57a12 12 0 0 0 11.81-9.89l7.14-40a12 12 0 0 0-9.7-13.92z"></path></g></svg>');
    }
    #content main .header-link:hover:before {
        @apply opacity-100 !important;
    }
}

html.dark #content main a>h1,
html.dark #content main a:visited>h1,
html.dark #content main a:focus>h1,
html.dark #content main a:active>h1 {
    @apply text-dark-primary;
}

html.dark #content main a,
html.dark #content main a:visited {
    @apply text-blue-300;
}

html.dark #content main a:hover,
html.dark #content main a:focus {
    @apply text-blue-100;
}

html.dark #content main a>code:after {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23CBD5E1" d="M67.508 468.467c-58.005-58.013-58.016-151.92 0-209.943l225.011-225.04c44.643-44.645 117.279-44.645 161.92 0 44.743 44.749 44.753 117.186 0 161.944l-189.465 189.49c-31.41 31.413-82.518 31.412-113.926.001-31.479-31.482-31.49-82.453 0-113.944L311.51 110.491c4.687-4.687 12.286-4.687 16.972 0l16.967 16.971c4.685 4.686 4.685 12.283 0 16.969L184.983 304.917c-12.724 12.724-12.73 33.328 0 46.058 12.696 12.697 33.356 12.699 46.054-.001l189.465-189.489c25.987-25.989 25.994-68.06.001-94.056-25.931-25.934-68.119-25.932-94.049 0l-225.01 225.039c-39.249 39.252-39.258 102.795-.001 142.057 39.285 39.29 102.885 39.287 142.162-.028A739446.174 739446.174 0 0 1 439.497 238.49c4.686-4.687 12.282-4.684 16.969.004l16.967 16.971c4.685 4.686 4.689 12.279.004 16.965a755654.128 755654.128 0 0 0-195.881 195.996c-58.034 58.092-152.004 58.093-210.048.041z"></path></svg>')
}

html.dark #content main a:hover>code {
    @apply text-blue-50;
}

html.dark #content main code {
    @apply text-blue-200;
}

html.dark #content main p code,
html.dark #content main li code,
html.dark #content main .admonition .content>code,
html.dark #content main .admonition .content p>code,
html.dark #content main table td code {
    @apply text-indigo-300 bg-gray-900 border-gray-600;
}

html.dark #content main ul li:before {
    @apply bg-indigo-300;
}

html.dark #content main ol li:before {
    @apply text-indigo-300;
}

/* Admonitions */
html.dark #content main .admonition {
    @apply bg-gray-700 bg-opacity-50;
}

html.dark #content main .admonition.note {
    @apply border-indigo-300;
}

html.dark #content main .admonition.note:before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23A5B4FC" d="M512 256c0-37.7-23.7-69.9-57.1-82.4 14.7-32.4 8.8-71.9-17.9-98.6-26.7-26.7-66.2-32.6-98.6-17.9C325.9 23.7 293.7 0 256 0s-69.9 23.7-82.4 57.1c-32.4-14.7-72-8.8-98.6 17.9-26.7 26.7-32.6 66.2-17.9 98.6C23.7 186.1 0 218.3 0 256s23.7 69.9 57.1 82.4c-14.7 32.4-8.8 72 17.9 98.6 26.6 26.6 66.1 32.7 98.6 17.9 12.5 33.3 44.7 57.1 82.4 57.1s69.9-23.7 82.4-57.1c32.6 14.8 72 8.7 98.6-17.9 26.7-26.7 32.6-66.2 17.9-98.6 33.4-12.5 57.1-44.7 57.1-82.4zm-144.8-44.25L236.16 341.74c-4.31 4.28-11.28 4.25-15.55-.06l-75.72-76.33c-4.28-4.31-4.25-11.28.06-15.56l26.03-25.82c4.31-4.28 11.28-4.25 15.56.06l42.15 42.49 97.2-96.42c4.31-4.28 11.28-4.25 15.55.06l25.82 26.03c4.28 4.32 4.26 11.29-.06 15.56z"></path></svg>');
}

html.dark #content main .admonition.warning:before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><g><path fill="%23FB7185" fill-opacity="50%" d="M406.78 361.53a186.53 186.53 0 0 1-45.25 45.25L105.22 150.47a186.53 186.53 0 0 1 45.25-45.25z"></path><path fill="%23FB7185" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm130.11 378.11A184 184 0 1 1 440 256a182.82 182.82 0 0 1-53.89 130.11z"></path></g></svg>');
}

html.dark #content main .admonition.warning {
    @apply bg-red-400 bg-opacity-10;
    color: #FECDD3;
    border: 1px dashed #FECDD380;
}

/* Tables */
html.dark #content main table {
    @apply border border-indigo-600 shadow-md;
}

html.dark #content main table thead {
    @apply bg-indigo-700 bg-opacity-20;
}

html.dark #content main table thead th {
    @apply border-b border-gray-800 rounded-none;
}

html.dark #content main table tbody {
    @apply bg-indigo-800 bg-opacity-10 divide-gray-800 border-gray-800;
}

html.dark #content main table tbody tr td {
    @apply border-b border-gray-800 rounded-none;
}

html.dark #content main table tbody tr:last-child td {
    @apply border-0;
}

/* Heading Permanent links */
html.dark #content main .header-link:before {
    content: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><g><path fill="%23E0E7FF" fill-opacity="40%" d="M202.46 32.19a11.5 11.5 0 0 0-2.11-.19h-40.63a12 12 0 0 0-11.81 9.89L132.53 128h65l14.62-81.89a12 12 0 0 0-9.69-13.92zM72.19 465.89a12 12 0 0 0 9.7 13.92A11.5 11.5 0 0 0 84 480h40.64a12 12 0 0 0 11.81-9.89L186.11 192h-65zm163.65 0a12 12 0 0 0 9.7 13.92 11.5 11.5 0 0 0 2.11.19h40.63a12 12 0 0 0 11.82-9.89L315.47 384h-65zm130.27-433.7A11.5 11.5 0 0 0 364 32h-40.63a12 12 0 0 0-11.82 9.89L261.89 320h65l48.92-273.89a12 12 0 0 0-9.7-13.92z"></path><path fill="%237DD3FC" d="M44.18 191.81a11.5 11.5 0 0 0 2.11.19H285l11-64H53.43a12 12 0 0 0-11.81 9.89l-7.14 40a12 12 0 0 0 9.7 13.92zM7.33 329.89l-7.14 40a12 12 0 0 0 9.7 13.92A11.5 11.5 0 0 0 12 384h75l11-64H19.15a12 12 0 0 0-11.82 9.89zm430.78-201.7A11.5 11.5 0 0 0 436 128h-75l-11 64h78.85a12 12 0 0 0 11.82-9.89l7.14-40a12 12 0 0 0-9.7-13.92zm-34.29 192a11.5 11.5 0 0 0-2.11-.19H163l-11 64h242.57a12 12 0 0 0 11.81-9.89l7.14-40a12 12 0 0 0-9.7-13.92z"></path></g></svg>');
}
