#content main h1 {
    @apply relative text-5xl font-light;
}

#content main h1:not(.with-meta) {
    @apply mb-12;
}

/* Special for link h1 */

#content main a>h1, #content main a:visited>h1, #content main a:focus>h1, #content main a:active>h1 {
    @apply text-primary-500;
}

#content main h2 {
    @apply relative text-4xl font-light mt-16 mb-12;
}

#content main h3 {
    @apply relative text-3xl font-light mt-16 mb-12;
}

#content main h4 {
    @apply relative text-2xl font-light mt-12 mb-8;
}

#content main h5 {
    @apply relative text-xl font-light mt-12 mb-8;
}

#content main a, #content main a:visited {
    @apply text-link font-medium transition-colors duration-300;
}

#content main a:hover, #content main a:focus {
    @apply text-link-hover font-medium;
}

#content main a>code {
    @apply transition-colors duration-300;
}

#content main a:hover>code {
    @apply text-link-hover border-gray-400 bg-gray-200 bg-opacity-60;
}

#content main a>code:after {
    @apply relative inline-block w-3 h-3 ml-2 top-0.5 text-primary-500 fill-current opacity-60 transition duration-300;
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23093D8D" d="M67.508 468.467c-58.005-58.013-58.016-151.92 0-209.943l225.011-225.04c44.643-44.645 117.279-44.645 161.92 0 44.743 44.749 44.753 117.186 0 161.944l-189.465 189.49c-31.41 31.413-82.518 31.412-113.926.001-31.479-31.482-31.49-82.453 0-113.944L311.51 110.491c4.687-4.687 12.286-4.687 16.972 0l16.967 16.971c4.685 4.686 4.685 12.283 0 16.969L184.983 304.917c-12.724 12.724-12.73 33.328 0 46.058 12.696 12.697 33.356 12.699 46.054-.001l189.465-189.489c25.987-25.989 25.994-68.06.001-94.056-25.931-25.934-68.119-25.932-94.049 0l-225.01 225.039c-39.249 39.252-39.258 102.795-.001 142.057 39.285 39.29 102.885 39.287 142.162-.028A739446.174 739446.174 0 0 1 439.497 238.49c4.686-4.687 12.282-4.684 16.969.004l16.967 16.971c4.685 4.686 4.689 12.279.004 16.965a755654.128 755654.128 0 0 0-195.881 195.996c-58.034 58.092-152.004 58.093-210.048.041z"></path></svg>')
}

#content main a:hover>code:after {
    @apply opacity-80;
}

#content main code {
    @apply text-code-600 font-mono;
}

#content main p {
    @apply mb-4 leading-7;
}

#content main p code, #content main li code, #content main table:not(.lntable) td code, #content main .admonition .content>code, #content main .admonition .content p>code {
    @apply text-xs text-code-600 font-mono font-medium bg-code-200 border border-dashed border-code-500 border-opacity-40 bg-opacity-10 rounded p-1;
}

/* CLI options */
#content main p code.option.deprecated, #content main li code.option.deprecated {
    @apply text-red-700 border-red-300 bg-red-100 bg-opacity-30;
}
#content main p code.option.new, #content main li code.option.new {
    @apply text-indigo-700 border-indigo-300 bg-indigo-100 bg-opacity-30;
}

#content main ul {
    @apply list-inside my-8 pl-8;
}

#content main ol {
    @apply list-inside my-8 pl-8;
    counter-reset: count;
}

#content main ul li, #content main ol li {
    @apply relative leading-8;
}

#content main ol li {
    counter-increment: count;
}

#content main ul li:before {
    @apply absolute w-1.5 h-1.5 -left-4 bg-blue-400 rounded-full;
    top: 0.825rem;
    content: " ";
}

#content main ol li:before {
    @apply absolute w-1.5 h-1.5 -left-5 text-blue-400 font-medium;
    content: counter(count) ". ";
}

#content main ul li ul, #content main ul li ol #content main ol li ul, #content main ol li ol {
    @apply mt-0 mb-4;
}

/* Summary */

#content main:not(#docs) h1~p:first-of-type, #content main div.summary p {
    @apply font-medium;
}

#content main:not(#docs) h1~p:first-of-type strong, #content main div.summary p strong {
    @apply font-semibold;
}

/* Tables */

#content main .table-wrapper {
    @apply min-w-full my-8 rounded-lg;
}

#content main table:not(.lntable) {
    @apply min-w-full divide-y border-separate;
    border-spacing: 0;
}

#content main table:not(.lntable) thead {
    @apply bg-none;
}

#content main table:not(.lntable) thead th {
    @apply px-6 py-4 border-indigo-100 text-left text-xs font-semibold uppercase tracking-wider;
}

#content main table:not(.lntable) tbody tr:first-child > td:first-child {
    @apply rounded-tl-md;
}

#content main table:not(.lntable) tbody tr:nth-child(2n) td {
    @apply bg-none;
}

#content main table:not(.lntable) tbody tr:nth-child(2n+1) td {
    @apply bg-secondary-100 bg-opacity-30;
}

#content main table:not(.lntable) tbody tr td {
    @apply px-6 py-4 text-sm border-b border-b-secondary-100;
}

#content main table:not(.lntable) tbody tr:first-child > td:last-child {
    @apply rounded-tr-md;
}

#content main table:not(.lntable) tbody tr:first-child > td {
    @apply border-t border-t-secondary-100;
}

#content main table:not(.lntable) tbody tr > td:first-child {
    @apply border-l border-l-secondary-100;
}

#content main table:not(.lntable) tbody tr > td:last-child {
    @apply border-r border-r-secondary-100;
}

#content main table:not(.lntable) tbody tr:last-child > td:first-child {
    @apply rounded-bl-md;
}

#content main table:not(.lntable) tbody tr:last-child > td:last-child {
    @apply rounded-br-md;
}

#content main table:not(.lntable) tbody tr:last-child > td {
    @apply border-b border-b-secondary-100;
}

#content main table:not(.lntable) td code {
    @apply leading-7;
}

/* Highlight */

#content main .highlight {
    @apply relative w-full rounded-lg text-sm mx-auto my-8;
}

#content main .highlight table.lntable {
    @apply w-full bg-highlight rounded-lg;
}

#content main .highlight table.lntable tr {
    @apply rounded-lg;
}

#content main .highlight table.lntable tr td pre {
    @apply bg-transparent;
}

#content main .highlight table.lntable tr td:first-child pre {
    @apply border-r-0 pl-7 pr-0 rounded-r-none;
}

#content main .highlight table.lntable tr td:last-child pre {
    @apply border-l-0 rounded-l-none pl-4;
}

/* Admonitions */

#content main .admonition {
    @apply relative w-full mx-auto my-8 leading-7 bg-secondary-50 rounded-md px-8 py-6 shadow-sm;
}

#content main .admonition:before, #content main .admonition:after {
    @apply hidden absolute w-9 h-9 text-center;
    top: 50%;
    transform: translateY(-50%);
    left: -3.5rem;
}

#content main .admonition .title {
    @apply hidden;
}

#content main .admonition.note {
    @apply border border-dashed border-secondary-300 bg-secondary-50 text-secondary-700;
}

#content main .admonition.note:before {
    @apply text-secondary-700;
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><g><path fill="%23cfcdf2" d="M543.8 256c0-36.5-18.86-68.38-46.86-86.75c6.875-32.88-2.517-68.63-28.14-94.25c-25.62-25.75-61.61-35.13-94.36-28.25C355.1 18.75 324.1 0 287.8 0S219.5 18.75 200.1 46.75C168.1 39.88 132.5 49.38 106.8 75C81.09 100.6 71.61 136.5 78.48 169.3C50.36 187.8 31.84 219.8 31.84 256s18.64 68.25 46.64 86.75C71.61 375.6 81.21 411.4 106.8 437c25.62 25.75 61.14 35.13 94.14 28.25C219.5 493.4 251.6 512 287.8 512c36.38 0 68.14-18.75 86.64-46.75c33 6.875 68.73-2.625 94.36-28.25c25.75-25.62 35.02-61.5 28.14-94.25C525.1 324.3 543.8 292.3 543.8 256zM384.1 216.1l-112 112C268.3 333.7 262.1 336 256 336s-12.28-2.344-16.97-7.031l-48-48c-9.375-9.375-9.375-24.56 0-33.94s24.56-9.375 33.94 0L256 278.1l95.03-95.03c9.375-9.375 24.56-9.375 33.94 0S394.3 207.6 384.1 216.1z"></path><path fill="%232f2997" d="M384.1 216.1l-112 112C268.3 333.7 262.1 336 256 336s-12.28-2.344-16.97-7.031l-48-48c-9.375-9.375-9.375-24.56 0-33.94s24.56-9.375 33.94 0L256 278.1l95.03-95.03c9.375-9.375 24.56-9.375 33.94 0S394.3 207.6 384.1 216.1z"></path></g></svg>');
}

#content main .admonition.warning {
    @apply bg-red-100 bg-opacity-30 text-red-600 border border-dashed border-red-300;
}

#content main .admonition.warning:before {
    @apply w-8 h-8;
    left: -3.375rem;
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><g><path fill="%23F74B5F" fill-opacity="40%" d="M144.9 99.68l267.4 267.4c-12.46 17.49-27.76 32.79-45.25 45.25L99.68 144.9C112.1 127.4 127.4 112.1 144.9 99.68z"></path><path fill="%23F74B5F" fill-opacity="80%" d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 448c-105.9 0-192-86.13-192-192s86.13-192 192-192s192 86.13 192 192S361.9 448 256 448z"></path></g></svg>');
}

#content main .admonition .highlight {
    @apply w-full mx-0;
}

#content main .admonition p:last-child, #content main .admonition .highlight:last-child {
    @apply mb-0;
}

/* Heading Permanent links */

#content main .header-link {
    @apply hidden;
}

/* Tags */
#content main .tags a {
    @apply border-0;
}

@screen md {
    #content main .highlight {
        @apply w-5/6;
    }


    #content main .highlight pre {
        @apply py-7;
    }

    #content main .admonition {
        @apply w-5/6 mx-auto;
    }

    #content main .admonition:before, #content main .admonition:after {
        @apply inline-block;
    }

    #content main .admonition .highlight {
        @apply w-full;
    }

    #content main .admonition .highlight:before {
        @apply hidden;
    }

    /* Heading Permanent links */
    #content main .header-link {
        @apply inline-block invisible absolute left-0 w-full h-full text-2xl;
    }
    #content main h1:hover>.header-link:before, #content main h2:hover>.header-link:before, #content main h3:hover>.header-link:before, #content main h4:hover>.header-link:before, #content main h5:hover>.header-link:before, #content main h6:hover>.header-link:before {
        @apply opacity-50;
    }
    #content main .header-link:before {
        @apply absolute -left-10 w-5 h-6 visible text-right z-10 transition duration-500 opacity-0;
        top: 50%;
        transform: translateY(-50%);
    }
    #content main .header-link:before {
        content: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><g><path fill="%23299BD7" fill-opacity="40%" d="M341.3 32.43c-17.53-2.875-33.92 8.891-36.83 26.3l-43.54 261.3h64.88l41.79-250.7C370.5 51.83 358.7 35.34 341.3 32.43zM240.4 442.7c-2.906 17.44 8.875 33.92 26.3 36.83C268.5 479.9 270.3 480 272 480c15.36 0 28.92-11.09 31.53-26.73l11.54-69.27h-64.88L240.4 442.7zM80.44 442.7c-2.906 17.44 8.875 33.92 26.3 36.83C108.5 479.9 110.3 480 112 480c15.36 0 28.92-11.09 31.53-26.73L187.1 191.1H122.2L80.44 442.7zM181.3 32.43c-17.53-2.875-33.92 8.891-36.83 26.3L132.9 127.1H197.8l9.789-58.74C210.5 51.83 198.7 35.34 181.3 32.43z"></path><path fill="%234352B9" d="M416 127.1h-58.23l-10.67 64H416c17.67 0 32-14.32 32-31.1C448 142.3 433.7 127.1 416 127.1zM0 352c0 17.67 14.33 31.1 32 31.1h58.23l10.67-64H32C14.33 319.1 0 334.3 0 352zM384 319.1H165.8l-10.67 64H384c17.67 0 32-14.33 32-31.1C416 334.3 401.7 319.1 384 319.1zM64 191.1h218.2l10.67-64H64c-17.67 0-32 14.33-32 32C32 177.7 46.33 191.1 64 191.1z"></path></g></svg>');
    }
    #content main .header-link:hover:before {
        @apply opacity-100 !important;
    }

    html.dark #content main .highlight {
        @apply border-dark-primary border-opacity-20;
    }
}

html.dark #content main a>h1,
html.dark #content main a:visited>h1,
html.dark #content main a:focus>h1,
html.dark #content main a:active>h1 {
    @apply text-dark-primary;
}

html.dark #content main a,
html.dark #content main a:visited {
    @apply text-blue-300;
}

html.dark #content main a:hover,
html.dark #content main a:focus {
    @apply text-blue-100;
}

html.dark #content main a>code:after {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23CBD5E1" d="M67.508 468.467c-58.005-58.013-58.016-151.92 0-209.943l225.011-225.04c44.643-44.645 117.279-44.645 161.92 0 44.743 44.749 44.753 117.186 0 161.944l-189.465 189.49c-31.41 31.413-82.518 31.412-113.926.001-31.479-31.482-31.49-82.453 0-113.944L311.51 110.491c4.687-4.687 12.286-4.687 16.972 0l16.967 16.971c4.685 4.686 4.685 12.283 0 16.969L184.983 304.917c-12.724 12.724-12.73 33.328 0 46.058 12.696 12.697 33.356 12.699 46.054-.001l189.465-189.489c25.987-25.989 25.994-68.06.001-94.056-25.931-25.934-68.119-25.932-94.049 0l-225.01 225.039c-39.249 39.252-39.258 102.795-.001 142.057 39.285 39.29 102.885 39.287 142.162-.028A739446.174 739446.174 0 0 1 439.497 238.49c4.686-4.687 12.282-4.684 16.969.004l16.967 16.971c4.685 4.686 4.689 12.279.004 16.965a755654.128 755654.128 0 0 0-195.881 195.996c-58.034 58.092-152.004 58.093-210.048.041z"></path></svg>')
}

html.dark #content main a:hover>code {
    @apply text-blue-50;
}

html.dark #content main code {
    @apply text-indigo-300;
}

html.dark #content main p code,
html.dark #content main li code,
html.dark #content main .admonition .content>code,
html.dark #content main .admonition .content p>code,
html.dark #content main table td code {
    @apply text-indigo-300 bg-gray-900 border-gray-600;
}

/* CLI options */
html.dark #content main p code.option.deprecated, html.dark #content main li code.option.deprecated {
    @apply text-red-300 border-red-300 border-opacity-60 bg-gray-900;
}

html.dark #content main p code.option.new, html.dark #content main li code.option.new {
    @apply text-blue-300 border-blue-300 border-opacity-60 bg-gray-900;
}

html.dark #content main ul li:before {
    @apply bg-indigo-300;
}

html.dark #content main ol li:before {
    @apply text-indigo-300;
}

/* Admonitions */
html.dark #content main .admonition {
    @apply bg-gray-700 bg-opacity-50 shadow-clean-dark;
}

html.dark #content main .admonition.note {
    @apply border-secondary-200 text-secondary-200;
}

html.dark #content main .admonition.note:before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><g><path fill="%23A5B4FC" fill-opacity="80%" d="M543.8 256c0-36.5-18.86-68.38-46.86-86.75c6.875-32.88-2.517-68.63-28.14-94.25c-25.62-25.75-61.61-35.13-94.36-28.25C355.1 18.75 324.1 0 287.8 0S219.5 18.75 200.1 46.75C168.1 39.88 132.5 49.38 106.8 75C81.09 100.6 71.61 136.5 78.48 169.3C50.36 187.8 31.84 219.8 31.84 256s18.64 68.25 46.64 86.75C71.61 375.6 81.21 411.4 106.8 437c25.62 25.75 61.14 35.13 94.14 28.25C219.5 493.4 251.6 512 287.8 512c36.38 0 68.14-18.75 86.64-46.75c33 6.875 68.73-2.625 94.36-28.25c25.75-25.62 35.02-61.5 28.14-94.25C525.1 324.3 543.8 292.3 543.8 256zM384.1 216.1l-112 112C268.3 333.7 262.1 336 256 336s-12.28-2.344-16.97-7.031l-48-48c-9.375-9.375-9.375-24.56 0-33.94s24.56-9.375 33.94 0L256 278.1l95.03-95.03c9.375-9.375 24.56-9.375 33.94 0S394.3 207.6 384.1 216.1z"></path><path fill="%23334155" d="M384.1 216.1l-112 112C268.3 333.7 262.1 336 256 336s-12.28-2.344-16.97-7.031l-48-48c-9.375-9.375-9.375-24.56 0-33.94s24.56-9.375 33.94 0L256 278.1l95.03-95.03c9.375-9.375 24.56-9.375 33.94 0S394.3 207.6 384.1 216.1z"></path></g></svg>');
}

html.dark #content main .admonition.warning:before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><g><path fill="%23FB7185" fill-opacity="40%" d="M406.78 361.53a186.53 186.53 0 0 1-45.25 45.25L105.22 150.47a186.53 186.53 0 0 1 45.25-45.25z"></path><path fill="%23FB7185" fill-opacity="80%" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm130.11 378.11A184 184 0 1 1 440 256a182.82 182.82 0 0 1-53.89 130.11z"></path></g></svg>');
}

html.dark #content main .admonition.warning {
    @apply bg-red-400 bg-opacity-10;
    color: #FECDD3;
    border: 1px dashed #FECDD380;
}

/* Tables */

html.dark #content main table:not(.lntable) tbody tr td {
    @apply border-b border-gray-600 border-opacity-20 rounded-none;
}

html.dark #content main table:not(.lntable) tbody tr:last-child td {
    @apply border-0;
}

html.dark #content main table:not(.lntable) tbody tr:nth-child(2n+1) td {
    @apply bg-dark-note-darker bg-opacity-40;
}

/* Highlight */
html.dark #content main .highlight table.lntable {
    @apply bg-gray-900 bg-opacity-100;
}

/* Heading Permanent links */
html.dark #content main .header-link:before {
    content: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><g><path fill="%23A5B4FC" fill-opacity="60%" d="M341.3 32.43c-17.53-2.875-33.92 8.891-36.83 26.3l-43.54 261.3h64.88l41.79-250.7C370.5 51.83 358.7 35.34 341.3 32.43zM240.4 442.7c-2.906 17.44 8.875 33.92 26.3 36.83C268.5 479.9 270.3 480 272 480c15.36 0 28.92-11.09 31.53-26.73l11.54-69.27h-64.88L240.4 442.7zM80.44 442.7c-2.906 17.44 8.875 33.92 26.3 36.83C108.5 479.9 110.3 480 112 480c15.36 0 28.92-11.09 31.53-26.73L187.1 191.1H122.2L80.44 442.7zM181.3 32.43c-17.53-2.875-33.92 8.891-36.83 26.3L132.9 127.1H197.8l9.789-58.74C210.5 51.83 198.7 35.34 181.3 32.43z"></path><path fill="%237DD3FC" d="M416 127.1h-58.23l-10.67 64H416c17.67 0 32-14.32 32-31.1C448 142.3 433.7 127.1 416 127.1zM0 352c0 17.67 14.33 31.1 32 31.1h58.23l10.67-64H32C14.33 319.1 0 334.3 0 352zM384 319.1H165.8l-10.67 64H384c17.67 0 32-14.33 32-31.1C416 334.3 401.7 319.1 384 319.1zM64 191.1h218.2l10.67-64H64c-17.67 0-32 14.33-32 32C32 177.7 46.33 191.1 64 191.1z"></path></g></svg>');
}
