@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("/fonts/inter/Inter-roman.var.woff2?v=3.18") format("woff2");
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("/fonts/inter/Inter-italic.var.woff2?v=3.18") format("woff2");
}

@font-face {
  font-family: 'Hack';
  font-weight: 400;
  font-display: block;
  font-style: normal;
  src: url("/fonts/hack/hack-regular-subset.woff2") format("woff2");
}

@font-face {
  font-family: 'Hack';
  font-weight: 400;
  font-display: block;
  font-style: italic;
  src: url("/fonts/hack/hack-italic-subset.woff2") format("woff2");
}

@font-face {
  font-family: 'Hack';
  font-weight: 600;
  font-display: block;
  font-style: normal;
  src: url("/fonts/hack/hack-bold-subset.woff2") format("woff2");
}
